.cartbody {
  padding-top: 120px;
  margin-bottom: 30px;
}
.cartbody h1 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}
.titles {
  margin-top: 60px;
}
.titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cartItem,
.titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.cartItem {
  border-top: 1px solid #eee;
  padding: 10px;
}
.productitile {
  padding-left: 10px;
}
.total {
  justify-self: right;
}
.cartproduct {
  display: flex;
  gap: 25px;
}
.cartproduct img {
  width: 100px;
  max-width: 100%;
  object-fit: contain;
}
.cartproduct h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.cartproduct p {
  text-transform: capitalize;
  margin-bottom: 0;
}
.cartproduct button {
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  background: none;
  color: gray;
  text-transform: capitalize;
}
.cartproduct button:hover {
  color: #000;
  transition: 0.3s ease;
}
.cartquantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
}
.cartquantity svg {
  height: 20px;
}
.cartquantity button {
  border: none;
  background: none;
  outline: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.carttotal {
  justify-self: right;
  font-weight: 700;
}
.cartsummary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}
.clearcart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: 1px solid #aaa;
  color: #aaa;
  background: none;
  cursor: pointer;
  text-transform: capitalize;
}
.cartcheckout {
  width: 270px;
  max-width: 100%;
}
.subtotal {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  font-size: 20px;
}
.subtotal .amount {
  font-weight: 700;
}
.cartcheckout button {
  width: 100%;
  text-transform: capitalize;
  margin: 20px 0px;
  background: #0084d6;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 0px;
  border-radius: 5px;
  letter-spacing: 1.5px;
}
.cartcheckout svg {
  height: 20px;
}
.cartcheckout a {
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  margin: 40px 0px;
  margin-bottom: 148px;
}
.empty svg {
  height: 20px;
}
.empty a{
  color: #a4a4a4;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .cartsummary {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .titles {
    display: none;
  }
  .cartItem {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;
  }
  .cartprice {
    text-align: center;
  }
  .carttotal {
    justify-self: center;
  }
  .res {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
