.cartbody {
  padding-top: 20px;
  margin-bottom: 30px;
  position: relative;
  min-height: 50vh;
}
.cartbody h1 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}
.titles {
  margin-top: 60px;
}
.titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cartItem,
.titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.cartItem {
  border-top: 1px solid #eee;
  padding: 10px;
}
.productitile {
  padding-left: 10px;
}
.total {
  justify-self: right;
}
.cartproduct {
  display: flex;
  gap: 25px;
}
.cartproduct img {
  width: 100px;
  max-width: 100%;
  object-fit: contain;
}
.cartproduct h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.cartproduct p {
  text-transform: capitalize;
  margin-bottom: 0;
}
.cartproduct button {
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  background: none;
  color: gray;
  text-transform: capitalize;
}
.cartproduct button:hover {
  color: #000;
  transition: 0.3s ease;
}
.cartquantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
}
.cartquantity svg {
  height: 20px;
}
.cartquantity button {
  border: none;
  background: none;
  outline: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.carttotal {
  justify-self: right;
  font-weight: 700;
}
.cartsummary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}
.clearcart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: 1px solid #aaa;
  color: #aaa;
  background: none;
  cursor: pointer;
  text-transform: capitalize;
}
.cartcheckout {
  width: 270px;
  max-width: 100%;
}
.subtotal {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  font-size: 20px;
}
.subtotal .amount {
  font-weight: 700;
}
.cartcheckout button {
  width: 100%;
  text-transform: capitalize;
  margin: 20px 0px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 0px;
  border-radius: 5px;
  letter-spacing: 1.5px;
}
.cartcheckout svg {
  height: 20px;
}
.cartcheckout a {
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  margin: 40px 0px;
  margin-bottom: 148px;
}
.empty svg {
  height: 20px;
}
.empty a {
  color: #a4a4a4;
  text-decoration: none;
}
.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 50px;
  height: 60px;
  width: 60px;
  background: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.whatsapp a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.accdetailscontainer {
  background: #a4a4a487;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accwarning {
  display: block;
  text-transform: capitalize;
  background: rgba(255, 0, 0, 0.372);
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}
.accdetails div {
  display: flex;
  text-transform: capitalize;
  gap: 35px;
  margin-bottom: 15px;
}
.accdetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.accdetails div p {
  margin-bottom: 0;
  font-weight: 500;
}
.userdata input,
.userdata textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}
.userdata input:focus,
.userdata textarea:focus {
  border-color: #25acff;
}
.userdata div {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
  margin-top: 20px;
}
.userdata {
  margin-top: 20px;
}
.userdata textarea{
  margin: 20px 0px;
}
.done {
  width: 100%;
  text-align: center;
  outline: none;
  padding: 10px;
  color: #fff;
  background: #000;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  border: 1px solid #000;
  transition: all ease-in-out 0.4s;
}
.done:hover {
  background: transparent;
  color: #000;
  transition: all ease-in-out 0.4s;
}
.done img {
  width: 20px;
  margin-right: 15px;
}
.accdetailsbody {
  background: #fff;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
}
.accdetailscontainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
}
.pay {
  display: block;
  background: rgba(0, 128, 0, 0.562);
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
}
.closebtn svg {
  height: 30px;
  cursor: pointer;
}
.closebtn {
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .cartsummary {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .titles {
    display: none;
  }
  .cartItem {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;
  }
  .cartprice {
    text-align: center;
  }
  .carttotal {
    justify-self: center;
  }
  .res {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .accdetailsbody {
    width: 100%;
  }
  .userdata div {
    grid-template-columns: 1fr;
  }
}
