.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
  gap: 20px;
  text-transform: capitalize;
}
.loginBo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}
.loginBo input {
  display: none;
}
.login {
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 50px;
  border-radius: 10px;
}
.login h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 40px;
}
.loginBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid #0084d6;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
.loginBox svg {
  height: 30px;
}
.loginBox input {
  outline: none;
  border: none;
  padding: 10px;
  flex: 1;
  width: 100%;
}
.loginBox input:focus ~ svg {
  color: #0084d6;
}
.login button {
  width: 100%;
  margin-top: 15px;
  background-color: #0084d6;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid #0084d6;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.login button:hover {
  background: none;
  color: #0084d6;
}
.innermain {
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.inner img:nth-child(2) {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.inner img:nth-child(1) {
  height: 60px;
  object-fit: contain;
}
.words p {
  margin-bottom: 0;
  text-align: right;
  text-transform: capitalize;
  cursor: pointer;
}
.words {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links a {
  text-transform: capitalize !important;
  margin: 0px 15px;
  text-decoration: none;
  color: #000;
}
.linksno a {
  text-transform: capitalize !important;
  margin: 0px 15px;
  text-decoration: none;
  color: #000;
}
.inner svg {
  display: none;
}
.loginFrame {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.new {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.new p {
  margin: 0;
}
.new a {
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .loginBox {
    width: 100%;
  }
  .loginFrame {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .inner svg {
    display: block;
    height: 20px;
  }
  .innermain {
    position: sticky;
    z-index: 10;
  }
  .links {
    position: absolute;
    bottom: -200%;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    width: 100%;
    left: 0;
    padding: 10px;
    transition: 0.3s ease-in-out;
    z-index: 8;
  }
  .linksno {
    position: absolute;
    bottom: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    width: 100%;
    left: 0;
    padding: 10px;
    transition: 0.3s ease-in-out;
    z-index: 8;
  }
  .login {
    width: 90%;
  }
  .main {
    padding: 60px 0px;
    height: fit-content;
  }
  .username{
    display: none;
  }
}
