.mainnav {
  position: sticky;
  left: 0;
  right: 0;
  top: 0%;
  width: 100%;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  z-index: 98;
  transition: all 0.3s ease-in-out;
  background: #fff;
}
.mainnav2 {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  z-index: 98;
  transition: all 0.3s ease-in-out;
  background: #fff;
}
.navinner {
  display: flex;
  align-items: center;
  gap: 180px;
}
.navinner a {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  padding: 0px 15px;
}
.navinner a:hover {
  transition: 0.3s;
  color: #a11f25;
}
.active {
  color: #a11f25 !important;
}
.navinner svg {
  height: 30px;
}

.shopping,
.shop {
  position: relative;
}
.shop {
  display: none;
}
.shopping span,
.shop span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #a11f25;
  color: #fff;
  position: absolute;
  top: -20%;
  right: 10%;
}
.navinner img {
  width: 140px;
  object-fit: contain;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.bars {
  display: none;
}
.res {
  flex: 1;
}
.respic {
  display: none;
}
@media screen and (max-width: 1200px) {
  .respic {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainnav {
    position: sticky;
    left: 0;
    right: 0;
    top: 0%;
    width: 100%;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    z-index: 98;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .mainnav2 {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    z-index: 98;
    transition:all 0.3s ease-in-out;
    background: #fff;
  }
  .navinner {
    gap: 0px;
    justify-content: space-between;
  }
  .bars {
    display: block;
  }
  .links {
    position: fixed;
    top: 0;
    right: -100%;
    display: block;
    background: #fff;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    height: 100vh;
    z-index: 99;
    transition: 0.3s;
  }
  .reslink {
    position: fixed;
    top: 0;
    right: 0%;
    display: block;
    background: #fff;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    height: 100vh;
    z-index: 99;
    transition: 0.3s;
  }
  .links .bars {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px 20px;
  }
  .reslink .bars {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px 20px;
  }
  .shopping {
    display: none;
  }
  .navlink {
    margin: 20px 0px;
    padding: 0px 20px;
    margin-bottom: 160%;
  }
  .navlink a {
    display: block;
    margin: 10px 0px;
  }
  .res {
    flex: 0;
    display: flex;
    align-items: center;
  }
  .shop {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navlink{
    margin-bottom: 100%;
  }
  .imgcont{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bars svg{
    padding: 0 15px;
  }
}
