.container {
  position: fixed;
  background: white;
  bottom: 20px;
  left: -40px;
  padding: 10px 90px 10px 30px;
  text-transform: capitalize;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  transform: rotate(30deg);
  font-weight: 600;
}
.container p{
  margin-bottom: 0px;
}
@media screen and (max-width: 768px){
  .container{
    padding: 10px 50px 10px 60px;
    bottom: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(35deg);
    left: -49px;
  }
  .container p{
    max-width: 90%;
    text-align: center;
    margin-left: -50px;
  }
}